.home-content{
    padding-left: 15rem;
    padding-right:5rem;
    margin-top:3rem
}
.home-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add-btn{
    padding:1rem;
    color:white;
    background-color: black;
    border:1px black solid;
    border-radius:0.5rem
}
.data{
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap:0.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #f9f9fb;
}
.search{
    display: flex;
    flex-direction: row;
    gap:1rem
}

@media only screen and (max-width:970px){
    .home-content{
        padding-left:1rem;
        padding-right:1rem;
    }
}