.header{
    
    background: url(../assets/Rectangle30.png);
    object-fit:cover;
    mix-blend-mode: hard-light;
    height:155.17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between ;
    padding-left:2rem;
    padding-right: 2rem;
}


.navigation-icon{
    height:30px ;
    object-fit:contain;
}

.navigation-icon:hover{
    cursor: pointer;
}

.box{
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    border-radius:10px;
    padding:1%;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
}

.paid-pill{
    color:white;
    display: flex;
    flex-direction: column;
    background: #48C446;
    align-items: flex-start;
    border-radius: 5px;
    padding:3px;
}

.overdue-pill{
    color:white;
    display: flex;
    flex-direction: column;
    background:#EC615B ;
    align-items: flex-start;
    width:10rem;
    border-radius: 5px;
    padding:3px;
}

.pending-pill{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #BDBDBD;
    width:7.5rem;
    border-radius: 5px;
    padding:3px;
}


@media only screen and (max-width:740px){
    .name{
        display: none;
    }
    .header{
        width:100%;
    }
    .paid-pill{
        width:4rem;
    }
    .pending-pill{
        width:4rem;
    }
    .overdue-pill{
        width:4rem;
    }
}